body{
  background-color: white;
}

.container{
  width: 600px;
  background-color: aliceblue;
  padding: 20px;
  border: blue 3px solid;
  border-radius: 10px;
}

#feedback{
  background-color: yellow;
  color: red;
  font-size: 30px;
  font-weight: bold;
}



.inventory{
  width: 600px;
  background-color: aliceblue;
  padding: 20px;
  border: blue 3px solid;
  border-radius: 10px;
}
